.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/ssr
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite*
tests
.phpunit.cache
.vscode
.idea
